





/* hero section*/
.hero{
	display: block;
	position: relative;
	width: 100%;
	height: 560px;
	background: url('../../themes/base/images/img/dota 1.jpg') no-repeat fixed center center;	
	background-size: cover;
}

.hero .caption{
	position: absolute;
	max-width: 550px;
	margin-left: 80px;
	top: 50%;
	transform:translate(0,-50%);
	-webkit-transform:translate(0,-50%);
	-moz-transform:translate(0,-50%);
	-o-transform:translate(0,-50%);
}

.hero .caption h1{
	color: #525252;
	font-family: "open_bold", Helvetica, Arial, sans-serif;
	font-size: 34px;
	font-weight: bold;
	word-break: break-word;
}

.hero .caption p{
	color: #6d6c6c;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 30px;
	margin: 15px 0 35px 0;
}

#slider .caption p{
	margin: 0;
}

a.app_store_btn{
	display: inline-block;
	text-decoration: none;
	padding: 15px 40px;
	border: 2px solid #525252;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin: 20px 20px 10px 0;

	color: #525252;
	font-family: "open_semibold", Helvetica, Arial, sans-serif;
	font-size: 16px;
}

.play_icon,
.android_icon,
.iphone_icon{
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-right: 20px;
	margin-bottom: 3px;
}

.play_icon{
	background: url('../../themes/base/images/img/play.png') no-repeat;
}

.iphone_icon{
	background: url('../../themes/base/images/img/iphone_app.png') no-repeat;
}

.android_icon{
	background: url('../../themes/base/images/img/android_app.png') no-repeat;
}


a.app_store_btn:hover,
a.app_store_btn:focus{
	border-color: #41c27d;
	color: #41c27d!important;
}

a.app_store_btn:hover .play_icon{
	background: url('../img/play_hover.png') no-repeat;
}

a.app_store_btn:hover .iphone_icon{
	background: url('../img/iphone_app_hover.png') no-repeat;
}

a.app_store_btn:hover .android_icon{
	background: url('../img/android_app_hover.png') no-repeat;
}

a.app_link{
	text-transform: lowercase;
	letter-spacing: .5px;
	color: #636363;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 16px;
}

a.app_link:hover,
a.app_link:focus{
	text-decoration: none;
	color: #41c27d!important;
}

a.app_store_btn,
.play_icon,
.iphone_icon,
.android_icon,
a.app_link{
	transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
}


.about_video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, .8);
    display: none;
}

.about_video iframe{
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.close_video{
    text-decoration: none;
    position: absolute;
    width: 38px;
    height: 38px;
    top: 50px;
    right: 50px;
    background: url('../img/close_video.png') no-repeat;
    z-index: 9999;
}




/*		Subscription section 		*/

.sub_box{
	width: 100%;
	padding: 100px 0;
	text-align: center;
	background-image: -moz-linear-gradient(bottom, #47ad76 0%, #47ad76 0.27%, #40c27d 99.46%, #40c27d 100%);
	background-image: -o-linear-gradient(bottom, #47ad76 0%, #47ad76 0.27%, #40c27d 99.46%, #40c27d 100%);
	background-image: -webkit-linear-gradient(bottom, #47ad76 0%, #47ad76 0.27%, #40c27d 99.46%, #40c27d 100%);
	background-image: linear-gradient(bottom, #47ad76 0%, #47ad76 0.27%, #40c27d 99.46%, #40c27d 100%);
}

.sub_box .cta_text{
	color: #fff;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 20px;
	margin-bottom: 50px;
}

.sub_box .mc_email{
	width: 300px;
	height: 50px;
	padding: 0 20px;
	background-color: #fff;
	border: 0;
	outline: none;
	margin-right: -4px;
	color: #41c17d;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 14px;

	border-top-left-radius: 2px;
	-o-border-top-left-radius: 2px;
	-moz-border-top-left-radius: 2px;
	-webkit-border-top-left-radius: 2px;

	border-bottom-left-radius: 2px;
	-o-border-bottom-left-radius: 2px;
	-moz-border-bottom-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;

	
}

.sub_box #mc_submit{
	width: 60px;
	height: 50px;

	border-top-right-radius: 2px;
	-o-border-top-right-radius: 2px;
	-moz-border-top-right-radius: 2px;
	-webkit-border-top-right-radius: 2px;

	border-bottom-right-radius: 2px;
	-o-border-bottom-right-radius: 2px;
	-moz-border-bottom-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;

	background-color: #fff;
	border: 0;
	outline: none;
	margin-right: -4px;
	text-align: center;
}

.sub_box #mc_submit i{
	display: inline-block;
	width: 20px;
	height: 14px;
	vertical-align: middle;
}

#mc_submit i.icon{
	background: url('../../themes/base/images/img/sub_icon.png') no-repeat;
}

#mc_submit i.loading{
	background: url('../../themes/base/images/img/loading.gif') no-repeat;
}

.sub_box .message{
	display: block;
	text-align: center;
	color: #fff;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 13px;
	text-transform: lowercase;
	margin-top: 20px;
}

.sub_box #error_msg,
.sub_box #success_msg{
	display: none;
}






